table,tr,td{
	margin:0px;
	padding:0px;
}

div.messenger_head {
   font-size: 15px;
   font-weight: bold;
   color: #FFFFFF;
   text-align: center;
}

td.details {
   font-size: 15px;
   font-weight: bold;
   color: #FFFFFF;
   text-align: center;
}

tr.top_row{
	background-image:url('images/top_black.jpg');
	background-repeat:repeat-x;
}

div.window_head{
	background-image:url('images/top_black.jpg');
	background-repeat:repeat-x;
	text-align: center;
	font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
	height:32px;
}

div.window{
	background: white; 
	border: 1px solid #777777;
}

td.window_min{
	width:10%;
	cursor:pointer;
	font-weight:bold;
}

td.window_min:hover{
	background:#777777;
}

td.collapsed{
	background-image:url('images/side_black.jpg');
	background-repeat:repeat-y;
	width:32px;
}

td.arrows{
   font-size: 18px;
   font-weight: bold;
   color: #FFFFFF;
   text-align: center;
}

/**   MENU  **/

table.menu
{
	padding:0;
	margin:0;
	font-size:100%;
	position:absolute;
	visibility:hidden;
	background:white;
}

td.menu_item{
	font-family: arial;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

td.menu{
	background:#000000;
	padding:0;
    margin-left: 5;
    margin-right: 5;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
}

td.menu:hover, td.menu_item:hover, td.arrows:hover{
	background:#777777;
}

/**   END MENU  **/

/** MESSENGER **/

ul.contacts{
	list-style-type: none;
	text-align: left;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 0px;
}

li.contact:hover, li.contact_new_msg:hover, li.contact_old_msg:hover, div.contact_group:hover{
	background:#777777;
}

li.contact{
	border: 1px solid #000;
	margin-top: 1px;
	padding-left: 1px;
	cursor: pointer;
}

div.contact_group{
	cursor: pointer;
	margin-left: 2px;
	margin-right: 2px;	
}

ul.contact_onoff{
	border: 1px solid #000;
	margin-top: 1px;
	padding-left: 1px;
}

li.contact_new_msg{
	border: 1px solid #F97708;
	margin-top: 1px;
	padding-left: 1px;
	cursor: pointer;
}

li.contact_old_msg{
	border: 1px solid #4B06FB;
	margin-top: 1px;
	padding-left: 1px;
	cursor: pointer;
}

/** END MESSENGER **/