/*
 * java.css
 *
 * CSS for Java reserved words syntax highlighting
 *
 */
#cursor{background-color:red;}
.public{color:blue;};
.System{color:orange;}
.abstract{color:red}
.continue{color:blue}	
.for	{color:red}
.new	{color:blue}
.switch{color:red}
.assert***	{color:blue}
.default_goto {color:green}
.package	{color:green}
.synchronized{color:red}
.boolean	{color:blue}
.do	{color:green}
.if	{color:blue}
.private	{color:blue}
.this{color:green}
.break	{color:orange}
.double	{color:red}
.implements	{color:blue}
.protected	{color:green}
.throw{color:orange}
.byte	{color:red}
.else	{color:blue}
.import	{color:green}
.public	{color:red}
.throws{color:blue}
.case	{color:green}
.enum{color:red}
.instanceof	{color:blue}
.return	{color:green}
.transient{color:}
.catch	{color:red}
.extends	{color:blue}
.int	{color:green}
.short	{color:orange}
.try{color:red}
.char	{color:blue}
.final	{color:green}
.interface	{color:blue}
.static	{color:#FFAABB}
.void{color:#FFFFAA}
.class	{color:orange}
.finally	{color:orange}
.long	{color:orange}
.strictfp**	{color:red}
.volatile{color:blue}
.const{color:green}
.number{color:red}
.String{color:blue}
.paren{color:blue}
.comment{color:green}